

/*FORMULARIO DE PESQUISA*/
#resultado_voo section{
    background-image: url(../Imagens/IMG/Voos/banner.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center 60%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #resultado_voo section div{
    background: #f8f8f8 ;
    font-size: 20px;
    color: #585858;
    padding: 0.5em;
    padding-right: 0;
    border-radius: 12px;
    width: 90rem;
    display: flex;
    align-items: center;
  }

  #resultado_voo .resultado{
    display: block;
    font-family: 'Open Sans', sans-serif;
  }

  #resultado_voo .resultado p{
    justify-content: left;
    font-size: 12px;
  }

  #resultado_voo .resultado span{
    font-size: 20px;
  }
  
  #resultado_voo #btn{
    display: flex;
    background-color: #ff914d;
    color: white;
    font-weight: bold;
    font-size: 12px;
    height: 30px;
    width: 500px;
    border-radius: 14px;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
  
  
/* ---------------------------*/

#resultado_voo .titulo_anuncio{
    display: block;
    text-align: center;
    background-color: #ff914d;
    color: white;
}

#resultado_voo .anuncios{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
}

#resultado_voo .caixa_anuncio{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: 'Open Sans', sans-serif;
    margin: 15px;
}

#resultado_voo .caixa_anuncio div{
    background-color: #efeae4;
    border-radius: 8px;
    justify-content: center;
}

#resultado_voo .caixa_anuncio img{
    border-radius: 8px 8px 0px 0px;
}

#resultado_voo .caixa_anuncio p{
    font-size: 17.5px;
    display: flex;
    justify-content: center;
    color: #545454;
    padding: 10px;
    font-weight: bold;
}

#resultado_voo .preco{
    font-size: 17.5px;
    display: flex;
    justify-content: center;
    color: #545454;
    padding: 10px;
    margin-top: 25px;
}

#resultado_voo .caixa_anuncio h3{
    display: flex;
    color: #000000;
    font-size: 23px;
    justify-content: center;
    padding: 2px 10px;
}

#resultado_voo .caixa_anuncio small{
    display: flex;
    color: #777068;
    font-size: 13px;
    justify-content: center;
    padding: 0px 20px;
}

#resultado_voo .caixa_anuncio button{
    display: flex;
    background-color: #ff914d;
    color: white;
    font-weight: bold;
    font-size: 17px;
    height: 31px;
    width: 140px;
    border-radius: 14px;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin: 40px 25px 0px 25px;
}